body{
	background-color: #131415;

}

button, button:focus{
	outline: none;
}

.Account-Panel {
	height: 50vw;
}

.Main {
	background-color: #393939;
	
}

.Account-Image{
	height: 10vw;
	background-image: url(../img/8n3gxrQQPO0.jpg);
	background-size: cover;
	background-position: center;
}

.Money{
	background-color: #029145;
	height: 4vw;
}

.Search-Panel{
	background-color: #F91956;
	height: 4vw;
}
.item{
	width: 100%;
	height: 60vw;
	background-color: #171717;

}

.Upper-Box{
	height: 50%;
	width: 100%;
}
.Down-Box{
	width: 100%;
	height: 50%;
}

.Dots-Box{
  margin-top: -32px;
  width: 30%;
  height: 32px;
  z-index: 5;
  top:50%;
  left:35%;
  right:35%;
}

.Dots-Container{
	height: 16px;
	width: 100%;
}

@media (max-width: 768px) {
	.Account-Panel{
		display: none;
	}
	.item{
		height: 80vw;
	}
	.Info-Block .Title{
		font-size: 2.75vw;
	}

	.Button-Box p{
		font-size: 1.75vw;
		transition: 0.25s;
	}

	.Info-Block .Text p{
		font-size: 1.75vw;
	}

	.Block-2{
		height: 80vw !important;
	}
}

img{
	width: 100%;
	height: 100%;
}
.absolute {
	position: absolute;

}
.relative{
	position: relative;
}
.owl-item .item .Down-Box .Gif-Box{
	width: 100%;
	height: 100%;
}

.Info-Block{
	width: 30%;
	height: 100%;
	top: 0%;
	left: 70%;
	background-color: rgba(0, 0, 0, 0.76);

}

.Info-Block .Content{
	height: 100%;
	width: 100%;
}
.Title{
	height: 15%;
	font-size: 2.5vw;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(212, 232, 255, 1) 20%, rgba(115, 179, 255, 1) 80%, rgba(0, 117, 255, 0) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: white;
}
.Info-Block .Text{
	height: 70%;
}
.Title p {
	border-bottom: 2px solid white;
	text-transform: uppercase;
}
.Button-Container{
	height: 10%;
	width: 100%;

}

.Text p {
	align-items: center;
	text-align: center;
	color: rgba(255,255,255,0.85);
	font-size: 1.25vw;

}
.Block-2{
	height: 45vw;
	background-image: linear-gradient(180deg, #131415 0%, #131415 85%, #181721 100%);
}

.Block-2 .Content{
	height: 100%;

}

.Block-2 .Content .Left-Block{
	background-color: #121212;
	height: 100%;
	max-width: 25%;
}
.Block-2 .Content .Right-Block{
	background-color: #121212;
	height: 100%;
}

.Block-2 .Content .Left-Block .Categories{
	height: 92%;
	
}

.Block-2 .Content .Left-Block .Categories .Category-Item{
	max-width: 50%;
}
.Left-Block .Categories .Category-Item .Category-Content{
	height: 100%;
	width: 100%;
	padding: 0.5vw;
	position: relative;
}
.Left-Block .Categories .Category-Item .Category-Content .Icon-Box{	
	bottom: 50%;
	top: 50%;
	left: 50%;
	right: 50%;
	position: absolute;
	border-radius: 50%;
	/*border: 1px solid white;*/
	background-color: #191919;
	transition: 0.25s;
}

.Category-Item{
	height: 20%;
	border: 1px solid #131415;
	background: #1E1E1E;
	transition: 0.25s;
}
.Category-Item:hover{
	border: 4px solid #00A2FE;
}
.Left-Block .Categories .Category-Item .Category-Content .Icon-Box [class*=Icon-Image]{	
	height: 5vw;
	width: 5vw;
	margin: 0.5vw;
	transition: 0.5s;
}
.Category-Item .Category-Content .Icon-Box .Icon-Image-Gray{	
	opacity: 1;
	z-index: 2;
}
.Category-Item:hover .Category-Content .Icon-Box .Icon-Image-Gray{	
	opacity: 0;
}
.Category-Item .Category-Content .Icon-Box .Icon-Image-White{	
	opacity: 1;
	z-index: 1;
}
.Category-Item:hover .Category-Content .Icon-Box .Icon-Image-White{	
	opacity: 1;
}
.Category-Item .Category-Content .Icon-Box .Icon-Image-Blue{	
	opacity: 0;
}

.Filling{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	background-color: rgba(0,0,0,0);
	border-radius: 100px;
	transition: 0.5s;
}
.Category-Item:hover .Filling{
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background-color: #494949;
}


.Left-Block .Categories .Category-Item .Category-Content .Icon-Title{	
	
	position: absolute;
	text-align: center;
	vertical-align: center;
	background: linear-gradient(0deg ,rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 10%,rgba(0,0,0,0.35) 90%,rgba(0,0,0,0) 100%);
	width: 100%;
	bottom: -40%;
	margin: 0;
	display: none;
	padding: 0;
	font-size: 1.15vw;
	color: white;
	transition: .5s;
	text-transform: uppercase;
}
.Left-Block .Categories .Category-Item:hover .Category-Content .Icon-Title{
	bottom: 0;
	display: block;
}

.Block-2 .Content .Left-Block .GoToList{
	height: 8%;
}

.owl-dots{
	position: absolute;
	top: 50%;
	margin-top: -32px;
	width: 30%;
	left: 35%;
 	right: 35%;
}

@media (max-width: 768px) {
	.Block-2{
		height: 65vw !important;
	}
}

.Game-Box {
  position: relative;
  width: 25%;
  height: 50%;
}

.Game-Box .More-Info {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 5;
  transition: 0.5s ease;
}

.Game-Box:hover .overlay {
  z-index: -5;
  opacity: 0;
}
.pic {
	height: 100%;
	width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: 0%;
 
}

.Gif-Box{
	width: auto;
	height: 100%;

}
.Gif-Box img{
	width: 100%;
	height: 100%;
	
}
.Buttons-Box{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 15%;
	background-color: rgba(0,0,0,0.75);
}

.Buttons-Box .Buy .Button-Base-p{
	opacity: 1;
	transition: 0.25s;
}
.Buttons-Box .Buy:hover .Button-Base-p{
	opacity: 0;
}
.Buttons-Box .Buy .Buy-Button{
	opacity: 0;
	position: absolute;
	width: 70%;
	height: 70%;
	transition: 0.25s;
}
.Buttons-Box .Buy:hover .Buy-Button{
	opacity: 1;
}



.Block-3{
	background-image: url("../img/BG-1.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.Block-3 .Content{
	height: 55vw;
	background-image: linear-gradient(180deg,rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 99%, rgba(0,0,0,0) 100%);

}
.Text-Box-2{
	width: 40%;
	font-size: 1.5vw;
	color: white;
	text-align: center;
	border-top: 2px solid #00A2FE;
	border-bottom: 2px solid #00A2FE;
}
.Kits{
	height: 80%;
}
.Kit-Box{
	height: 100%;
}
.Kit-Box .Image-Box{
	height: 25%;
}
.Kit-Box .Info-Box{
	height: 75%;
	width: 100%;
	font-size: 1.35vw;
	color: rgba(255,255,255,0.95);
	border-right: 0px;
	
	transition: 0.5s;
}
.Short-Info{
	width: 90%;
}

.Kit-Box:hover .Info-Box{
	border-right: 2px solid #00A2FE;
}
.Kit-Box:hover .Price-And-Button{
	border-left: 2px solid #00A2FE;
	
}
.Kit-Box:hover .Button{
	opacity: 1;
	width: 50%;
}

.Price-And-Button{
	width: 100%;
	height: 10%;
	transition: 0.5s;
	border-left: 0;

}
.Price-And-Button .Button{
	opacity: 0;
	width: 0%;
	height: 100%;
	transition: 0.25s;
}

.Kit-Box .Button .Button-Base-p{
	display: none;
}
.Kit-Box:hover .Button .Button-Base-p{
	display: block;
}


.Price-And-Button .Price{
	width: 50%;
	height: 100%;
	font-size: 1.25em;
}
.Price-And-Button .Price p{
	margin: 0;
}
.Block-4{
	background-color: rgba(24,24,32,1);
}

.Block-4 .Content p{
	margin: 0;
}

.Button-Container-2{
	height: 20vw;

}

.Button-Base-B5 .Button-Base-a img{
	width: 80%;
	height: 80%;
	opacity: 1;
	transition: 0.25s;
}
.Button-Base-B5 .Button-Base-a:hover img{
	opacity: 0.25;
}

.Button-Base-B5 .Button-Base-a{
	background: 0;
}

.Button-Base-B5 .Button-Base-a .Info-Box-Components{
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: 2vw;
	color: white;
	transition: 0.25s;
	text-align: center;
	opacity: 0;
	background-color: rgba(0,0,0,0.3);
}
.Button-Base-B5:hover .Button-Base-a .Info-Box-Components{
	opacity: 1;
}

a:hover{
	color: white;
	text-decoration: none;
}

.Button-Base-a{
	background: #00A3FF;
	border-radius: 2px;
	border: 0px;
	height: 100%;
	width: 100%;
	filter: none;
	transition: 0.25s ease;
}
.Button-Base-a:hover{
	background: rgba(0,0,0,0);
	border: 2px solid #00A3FF;
	/*border-bottom: 2px solid #00A3FF;
	border-top: 2px solid #00A3FF;*/
	width: 110%;
	height: 110%;
	transform: translate(-5%, -5%);
	font-size: 1.15em;
}



.no-scaling:hover{
	width: 100% !important;
	height: 100% !important;
	transform: none;
}
.no-border{
	border-radius: 0 !important;
}

.no-border-full{
	border: 0 !important;
}
.no-border-right{
	border-right: 0 !important;
}
.Button-Base-a .Button-Base-p{
	color: white;
	text-align: center;
	width: 100%;
}
.Button-Base-B1{
	height: 90%;
	width: 75%;
	font-size: 1.25vw;
}
.Button-Base-B2{
	height: 100%;
	width: 100%;
	font-size: 1.25vw;
}
.Button-Base-B3{
	height: 65%;
	width: 25%;
	font-size: 1.25vw;
}
.Button-Base-B4{
	height: 100%;
	width: 100%;
	font-size: 1.25vw;
}
.Button-Base-B5{
	height: 80%;
	width: 80%;
	font-size: 1.25vw;
}
.Button-Base-B6{
	height: 80%;
	width: 25%;
	font-size: 1vw;
}
.Button-Base-B7{
	height: 80%;
	width: 65%;
	font-size: 1vw;
}





