

p{
	margin-bottom: 0 !important;
	padding: 0;
}

.Block-1-L{
	width: 100%;
	color: white;
}
.Sort-Item{
	margin-left: 10px;
	border: 1px solid rgba(255,255,255,0.3);
}
.Block-1-L .Right-Panel{
	height: 100%;	
}

.Account-Panel {
	height: 100%;
}

.Block-1-L .Account-Panel .Account-Image{
	height: 24vw;
	width: 100%;
}

.Money{
	background-color: #029145;
	width: 100%;
}

.Block-1-L .Main::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  /*background-image: url("../img/VR-bg.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}
.Block-1-L .Upper-Panel{
	width: 100%;
}
.Block-1-L .Upper-Panel .Buttons{
	height: 50px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;

}

.Search{
	height: 4vw;
	border-radius: 5px;
	border: 4px solid white;
	
}
.search-btn{
	border-radius: 0;
	background-image: url("../icons/analyze.svg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	height: 100%;
	width: 4vw;
	
	background-color: #00A2FE;
	border: 0;
}
.search-input{
	border: 4px solid white;
	border-radius: 0;
	width: 10vw;
	height: 100%;
	color: white !important;
	font-size: 1.2em;
	background: rgba(0,0,0,0.75) !important;
}

.Block-1-L .Title{
	font-size: 4vw;
	color: white;
	width: 100%;
	height: 100px;
}

.Title .cat-logo{
	border-right: 4px solid white;
	margin: 5px;
	width: 10vw;
	height: 100%;
}
.Title .cat-title{
	margin-left: 10px;
}

.Title .Site-Name{
	background-color: rgba(0,0,0,0.6);
	border-radius: 15px;
	padding: 15px;
	border: 4px solid white;
}

.Panel{
	height: 100%;
}




img{
	height: 100%;
	width: 100%;
}


.List{
	width: 100%;
	color: white;
}
.List .Item{
	width: 97.5%;
	height: 15vw;
	margin-bottom: 10px;
	background-color: #393939;
	transition: 0.25s;
}

.List .Item:hover{
	margin-bottom: 50px;
}


.Item .Image-Box{
	width: 40%;
	height: 100%;
}
.Item .Info-Box{
	width: 60%;
	height: 100%;

}

.Middle{
	font-size: 1vw;
	color: rgba(180,180,180,1);
}

.Item .To-Cart{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
}
.Item .Read-More{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 50%;
}

.Item:hover .To-Cart{

}
.Item:hover .Read-More{

}

.Button-Base-L1{
	height: 75%;
	width: 75%;
	font-size: 1.25vw;
}



.Block-2-L{
	width: 100%;
	height: 80vw;
	
}
.Block-2-L .Main{
	padding: 10px;
}

.Block-2-L .Game-Categories{
	color: white;
}

.Info-Box{
	padding: 1%;
}

.Info-Box .Price{
	width: 25%;
	font-size: 1.5em;
}
.Info-Box .Old-Price{
	text-decoration: line-through;
}

.By-Price{
	width: 100%;
	height: 3vw;
}

.Price-Box{
	width: 45%;

}
.Dev-Pub{
	width: 50%;
}
.Game-Type{
	color: #A1A1A1;
}


.Button-Container{
	width: 50%;
	height: 100%;
	bottom: 0;
	right: 0;
	display: none;
	transition: 0.25s;

}
.Button-List{
	width: 90%;
	height: 90%;
	font-size: 1.2vw;
}
.Right-Side{
	width: 40%;
}
